<?php /** @var $block \Pyco\Boutique\Block\Boutiques */ ?>
<h1><?php echo __('Boutiques Location') ?></h1>
<?php
$boutiques = $block->getBoutiques();
$i = 0;
$firstBoutique = null;
?>
<?php foreach($boutiques as $boutique):?>
    <?php
    if($i++ == 0) :
        $firstBoutique = $boutique;
    endif;
    ?>
    <div id="boutique-<?= $boutique->getBoutiqueId()?>">
        <p><?php echo __('Boutique Name').':'?><?= $boutique->getBoutiqueName()?></p>
        <p><?php echo __('Address').':'?><?= $boutique->getAddress()?></p>
        <p><?php echo __('Manager').':'?><?= $boutique->getManager()?></p>
    </div></br >
<?php endforeach;?>
<style>
    #map {
        width: 800px;
        height: 500px;
    }
</style>

<div id="map"></div>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: {lat: <?= $firstBoutique->getLat()?>, lng: <?= $firstBoutique->getLng()?>}
        });

        setMarkers(map);
    }

    var boutiques = [
        <?php $i = 1;?>
        <?php foreach($boutiques as $boutique):?>
        ['<?= $boutique->getBoutiqueName()?>', <?= $boutique->getLat()?>, <?= $boutique->getLng()?>, <?php echo $i++?>],
        <?php endforeach;?>
    ];

    function setMarkers(map) {

        for (var i = 0; i < boutiques.length; i++) {
            var boutique = boutiques[i];
            var marker = new google.maps.Marker({
                position: {lat: boutique[1], lng: boutique[2]},
                map: map,
//                draggable: true,
//                animation: google.maps.Animation.DROP,
                label: boutique[0],
                zIndex: boutique[3]
            });

            var content = boutique[0];
            var infowindow = new google.maps.InfoWindow();

            google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
                return function() {
                    infowindow.setContent(content);
                    infowindow.open(map,marker);
                };
            })(marker,content,infowindow));
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>